.movie-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #efefef;
  margin-bottom: 30px;
  max-width: 500px;
  padding: 5px;
}

.movie-name {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.detail {
  margin-bottom: 5px;
}
